.body-section {
    width: 100%;
    padding: 40px 0;
  }
  
  .body-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0 20px;
    gap: 150px; /* Spațiu între imagine și text */
  }
  
  .body-image {
    width: 700px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .body-text-left {
    flex: 1;
    font-size: 2.7rem;
    margin-left: auto;
    margin: 0px;
  }
  .body-text-right {
    font-size: 2rem;
    flex: 1;
    margin-left: auto;
  }

  .body-text-left p {
    font-size: 2rem;  
  }

  .body-text-left h3, .body-text-right h3 {
    margin: 0px;
  }

  .body-details{
    display: flex;
    padding: 50px 20px;
    gap: 40px; 
  }

  /* Pentru ecrane mici */
  @media (max-width: 768px) {
    .body-content {
      flex-direction: column;
    }
    
    .body-image {
      width: 100%;
      margin-bottom: 20px;
    }
  }